# üè° Min-Max Normalization Workshop
## Team Name: ML_HCB
## Team Members: Haysam, Tracy, Benny

In [2]:
# üî¢ Load and display dataset
import pandas as pd
df = pd.read_csv('data/housing_data.csv')
df.head()

,House_ID,Price,Area_sqft,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size
0,H100000,574507,1462,3,3,2002,4878
1,H100001,479260,1727,2,2,1979,4943
2,H100002,597153,1403,5,2,1952,5595
3,H100003,728454,1646,5,2,1992,9305
4,H100004,464876,853,1,1,1956,7407

### üîé Step 1 ‚Äî Implement Min-Max Normalization on the Housing Dataset

In [1]:
# ‚úçÔ∏è Implement Min-Max Normalization manually here (no sklearn/numpy)
# Normalize: Price, Area_sqft, Num_Bedrooms, Num_Bathrooms, Lot_Size
import pandas as pd

class MinMaxNormalizer:
    def __init__(self, df):
        self.df = df.copy()
    
    def normalize_column(self, column_name, new_column_name=None):
        if column_name not in self.df.columns:
            raise ValueError(f"Column '{column_name}' does not exist in the DataFrame.")
        
        col_min = self.df[column_name].min()
        col_max = self.df[column_name].max()
        
        if col_max == col_min:
            raise ValueError(f"Cannot normalize column '{column_name}' because it has constant value.")
        
        if not new_column_name:
            new_column_name = f"{column_name}_MinMax"
        
        self.df[new_column_name] = (self.df[column_name] - col_min) / (col_max - col_min)
        return self.df[[column_name, new_column_name]]
    
    def get_dataframe(self):
        return self.df